<footer class="footer has-background-dark has-text-white">
    <div class="section">
        <div class="container">
            <div class="footer-text-wrapper">
                <span class="footer-text">© {{ 'now' | date: "%Y" }} <a href="{{ site.baseurl }}{% link pages/about.md %}">Hendrik Ebbers</a> | <a href="{{ site.baseurl }}{% link pages/newsletter.md %}">Newsletter</a> | <a href="{{ site.baseurl }}{% link pages/privacy.md %}">Privacy</a> | <a href="{{ site.baseurl }}{% link pages/impressum.md %}">Imprint</a> | <a href="{{ site.baseurl }}{% link pages/disclaimer.md %}">Disclaimer</a> | <a href="https://www.patreon.com/guigarage">Support me</a></span>
            </div>
        </div>
    </div>
</footer>