<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="twitter:site" content="@hendrikEbbers" />
  {%- if page.featuredImage -%}
    <meta property="og:image" content="{{ site.url }}/assets/featuredImages/{{ page.featuredImage }}.png" />
  {%- else -%}
    <meta property="og:image" content="{{ site.url }}/assets/featuredImages/default.png" />
  {%- endif -%}
  {%- seo -%}
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="manifest" href="/manifest.json">
  {%- feed_meta -%}
  <!-- {%- include default/adsense.html -%} -->
  {%- include default/matomo.html -%}
</head>
