<style>
    .newsletter-2 {
        border-color: #d48d39;
        background-color: #d48d39;
        border-width: 1px;
        border-style: solid;
    }
    .newsletter-header {
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
    }
    .newsletter-3 {
        background-color: white;
        padding: 0.8em;
    }
    .small-control {
        font-size: 0.8rem;
        font-weight: normal;
    }
    .button-field {
        margin-bottom: 0px;
    }
    </style>
    <div class="column is-full newsletter-1">
        <div class="newsletter-2">
            <span class="newsletter-header">Subscribe to our newsletter</span>
            <div id="mc_embed_signup" class="newsletter-3">
                <form action="https://guigarage.us4.list-manage.com/subscribe/post?u=7eb4cd61ed09b0d527f015e21&amp;id=6c968c32d2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                    <div class="field">
                        <div class="control has-icons-left">
                            <input type="email" value="" name="EMAIL" class="input required email" id="mce-EMAIL">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                          </div>
                    </div>
                    <div class="field">
                        <div class="control small-control">
                            <label class="checkbox">
                                <input type="checkbox" id="gdpr_47908" name="gdpr[47908]" value="Y" class="checkbox av-checkbox">
                                Yes, I would like to receive the Guigarage newsletter by email
                            </label>
                            <p id="email-required-field" class="help is-info">Required field</p>
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-right button-field" >
                        <div class="control">
                            <input disabled type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button is-primary is-outlined">
                        </div>
                    </div>
                    <script>
                        var checkbox = document.getElementById('gdpr_47908');
                        var button = document.getElementById('mc-embedded-subscribe');
                        var mailRequiredField = document.getElementById('email-required-field');
                        checkbox.addEventListener('change', function() {
                            if(checkbox.checked) {
                                button.removeAttribute('disabled');
                                mailRequiredField.style.visibility = 'hidden';
                            } else {
                                button.setAttribute('disabled', 'true');
                                mailRequiredField.style.visibility = 'visible';
                            }
                        });
                    </script>
                </form>
            </div>
        </div>
    </div>