
@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/encode-sans-v2-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
    src: local('Encode Sans Light'), local('EncodeSans-Light'),
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-300.svg#EncodeSans') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/encode-sans-v2-latin_latin-ext-600.eot'); /* IE9 Compat Modes */
    src: local('Encode Sans SemiBold'), local('EncodeSans-SemiBold'),
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-600.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-600.svg#EncodeSans') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/encode-sans-v2-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
    src: local('Encode Sans Bold'), local('EncodeSans-Bold'),
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-700.svg#EncodeSans') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/encode-sans-v2-latin_latin-ext-800.eot'); /* IE9 Compat Modes */
    src: local('Encode Sans ExtraBold'), local('EncodeSans-ExtraBold'),
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-800.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/encode-sans-v2-latin_latin-ext-800.svg#EncodeSans') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/open-sans-v15-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('/assets/fonts/open-sans-v15-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/open-sans-v15-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/open-sans-v15-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/open-sans-v15-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/open-sans-v15-latin_latin-ext-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/source-code-pro-v7-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: local('Source Code Pro'), local('SourceCodePro-Regular'),
    url('/assets/fonts/source-code-pro-v7-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/source-code-pro-v7-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/source-code-pro-v7-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/source-code-pro-v7-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/source-code-pro-v7-latin_latin-ext-regular.svg#SourceCodePro') format('svg'); /* Legacy iOS */
}