<article>
  <div class="image-text-holder">
    <a href="{{ post.url}}"><img class="featured-image" alt="featured image" src="/assets/featuredImages/{{ post.featuredImage }}.png"></a>
    <a class="excerpt-link" href="{{ post.url}}">
      <div class="excerpt-content">
        <div class="post-date">{{ post.date | date: "%B %e, %Y" }}</div>
        <h3 class="has-text-primary excerpt-content-title"><a href="{{ post.url}}">{{ post.title }}</a></h3>
        <div class="excerpt-content-description"><a class="post-excerpt-text" href="{{ post.url}}">{{ post.excerpt | newline_to_br }}</a></div>
      </div>
    </a>
  </div>
</article>