<div class="columns sidebar">
    {%- if page.hideNewsletter -%}
    {%- else -%}
        {%- include default/sidebar-newsletter.html -%}
    {%- endif -%}
</div>
<div class="columns is-gapless">
    <div class="column is-full">
        <a href="{{ site.baseurl }}{% link pages/mastering-javafx-controls.md %}"><img alt="Mastering JavaFX 8 book" src="/assets/general/menu-book.png"></a>
    </div>
</div>
<div class="columns is-gapless">
    <div class="column is-full">
        <a href="{{ site.baseurl }}{% post_url 2015-10-19-javafx-8-refcard %}"><img alt="JavaFX 8 RefCard" src="/assets/general/refcard-menu.png"></a>
    </div>
</div>
<div class="columns is-gapless">
    <div class="column is-half">
        <a href="{{ site.baseurl }}{% link pages/about.md %}"><img alt="Java Champion" src="/assets/general/jc-duke.png"></a>
    </div>
    <div class="column">
        <a href="{{ site.baseurl }}{% link pages/about.md %}"><img alt="JavaOne RockStar" src="/assets/general/rockstar-duke.png"></a>
    </div>
</div>