<div class="columns is-gapless">
    <div class="column is-full">
        <a href="{{ site.baseurl }}{% link pages/mastering-javafx-controls.md %}"><img src="/assets/general/menu-book.png"></a>
    </div>
</div>
<div class="columns is-gapless">
    <div class="column is-full">
        <a href="{{ site.baseurl }}{% post_url 2015-10-19-javafx-8-refcard %}"><img src="/assets/general/refcard-menu.png"></a>
    </div>
</div>
<div class="columns is-gapless">
    <div class="column is-half">
        <a href="{{ site.baseurl }}{% link pages/about.md %}"></a><img src="/assets/general/jc-duke.png"></a>
    </div>
    <div class="column">
        <a href="{{ site.baseurl }}{% link pages/about.md %}"></a><img src="/assets/general/rockstar-duke.png"></a>
    </div>
</div>