<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="post-title p-name" itemprop="name headline">{{ title | escape }}</h1>
  <p class="post-meta">
    {%- if author -%}
    by <a href="{{ author.url }}">{{ author.firstName }} {{ author.lastName }}</a> on&nbsp;
    {%- endif -%}
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ date | date: date_format }}
    </time>
  </p>
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>